@import '~@przemekr95/quick-design-tokens/dist/scss/index.scss';

.photography_side {
  flex: 1;
  height: 100%;
  display: flex;
  align-items: flex-end;
  position: relative;
  overflow: hidden;
  transition: transform 0.2s ease;
  background-position: right top !important;
  background-size: cover !important;
  background-repeat: no-repeat !important;
}

.heading_text {
  margin-bottom: $spacing-4;
  transform: rotate(180deg);
  writing-mode: vertical-lr;
  font-size: $font-size-2xl-font-size;
  line-height: $font-size-2xl-line-height;
  font-weight: $font-weight-light;
}

.overlay {
  position: absolute;
  inset: 0;
  z-index: 2;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  background: linear-gradient(to bottom, rgba(0,0,0,0) 50%, rgba(0,0,0,0.9) 100%);
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.2s;
}

.overlay_visible {
  opacity: 1;
  pointer-events: auto;
}

.overlay_content {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding-bottom: $spacing-32;
  color: #fff;
  text-align: center;
}

.overlay_description {
  margin-bottom: $spacing-8;
  font-size: $font-size-md-font-size;
  line-height: $font-size-md-line-height;
  font-weight: $font-weight-light;
  letter-spacing: 0.1em;
}
