@import '~@przemekr95/quick-design-tokens/dist/scss/index.scss';
@import '~@przemekr95/quick-design-tokens/dist/scss/global/classes.scss';

.photography_side {
  flex: 1;
  height: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  position: relative;
  overflow: hidden;
  transition: transform 0.2s ease;
}

.bottom_text {
  margin-bottom: $spacing-12;
  text-align: center;
}

.overlay {
  position: absolute;
  inset: 0;
  background: linear-gradient(to bottom, rgba(0,0,0,0) 40%, rgba(0,0,0,0.8) 100%);
  display: flex;
  align-items: flex-end;
  justify-content: center;
  z-index: 2;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.2s;
}

.overlay_visible {
  opacity: 1;
  pointer-events: auto;
}

.overlay_content {
  color: #fff;
  text-align: center;
  width: 100%;
  padding-bottom: $spacing-32;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.overlay_description {
  margin-bottom: $spacing-4;
  font-size: $font-size-lg-font-size;
}